{% apply spaceless %}
  {% embed '@bootstrap_italia/base/file-link.html.twig' %}
    {% block fileLink %}
      {% embed '@bi-bcl/card/card.html.twig' with {
        card_shadow: true,
        card_teaser: true,
        card_rounded: true,
        card_border: true,
        card_attributes: attributes,
      } %}
        {% block cardCategoryIconTop %}
          {% set _icon_name = _icon_name|join|trim %}
          {% set _link_label %}
            <div class="card-icon-content d-flex">
              {% include '@bi-bcl/icon/icon.html.twig' with {
                name: _icon_name,
                color: _icon_name == 'it-warning-circle' ? 'danger' : 'greendark',
              } %}
              <p class="ms-2 mb-0 lh-1 text-sans-serif text-petroldark">
                <strong class="d-block mb-2">{{ link['#title']|render }}</strong>
                <time class="small" datetime="{{ file_link_changed|format_date('html_datetime') }}">{{ file_link_changed|format_date('short') }}</time>
                {% if file_size and file_link_show_size %} | <small>{{ file_size }}</small>{% endif %}
                {% if _icon_name == 'it-warning-circle' %}
                  <small class="text-danger d-block mt-2">{{ 'Non è possibile verificare in automatico la sicurezza di questo file, controllalo con un antivirus prima di eseguirlo.'|t }}</small>
                {% endif %}
              </p>
            </div>
          {% endset %}
          {{ link(_link_label, link['#url'].uri, link['#url'].options['attributes']) }}
        {% endblock %}
      {% endembed %}
    {% endblock %}
  {% endembed %}
{% endapply %}
