{#
/**
 * @file
 * Default theme implementation of a an oembed lazyload container.
 *
 * Available variables:
 * - provider: A string containing the oembed provider name.
 * - thumbnail: The thumbnail element.
 * - button: The button element.
 * - iframe: The iframe element.
 * - privacy_path: url to privacy policy.
 *
 * @see template_preprocess_oembed_lazyload()
 *
 * @ingroup themeable
 */
#}
{% apply spaceless %}
  {%
    set classes = [
      'oembed-lazyload',
      'oembed-lazyload--' ~ provider|clean_class,
      'acceptoverlayable',
    ]
  %}
  <div {{ attributes.addClass(classes) }} data-strategy="{{ strategy|clean_class }}">
    <div class="acceptoverlay acceptoverlay-primary fade show">
      <div class="acceptoverlay-inner">
        <div class="acceptoverlay-icon">
          {% include '@bi-bcl/icon/icon.html.twig' with {
            name: 'it-video',
            size: 'xl'
          } %}
        </div>
        <p>
          {% trans %}
            Accept {{ provider }} cookies to see the video.
            You can manage preferences in the <a href="{{ privacy_path }}" class="text-white" title="For additional information we invite you to read the section on cookie management">cookie policy</a>.
          {% endtrans %}
        </p>
        <div class="acceptoverlay-buttons bg-dark">
          {{ placeholder }}
        </div>
      </div>
    </div>
    {{ iframe }}
  </div>
{% endapply %}
